.App {
  justify-content: center;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.dropdown {
  display: inline;
}

#dropdown-basic-button {
  display: inline;
  margin-left: 3px;
}

.countdownDisplay {
  display: flex;
}

.groupNameParent {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.displayTime {
  margin: 0;
}

.startNav {
  display: inline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.group {
  padding: 5px;
  margin: 3px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: grey;
}
